<div class="col-sm-11 col-xs-12">
  <h2 class="text-center"><%= @article.title %></h2>
  <div class="text-center">
  	<% if @article.image.attached? %>
      <%= image_tag @article.image, :alt => "イメージ", :class => "automatic_adjustment" %>
    <% end %>
  </div>
  <h5 class="text-center"><%= @article.created_at.strftime('%b %d, %Y') %></h5>
  <div class="fr-view">
  	<%= raw @article.body %>
  	<!-- <%= simple_format(@article.body, {}, sanitize: false) %> -->
  </div>
</div>