<!DOCTYPE html>
<html>
  <head>
    <title>Dragonarrow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Froala WYSIWYG HTML Editor は jQuery(1.11.0以上) と Font Awesome 4.4.0..を使う -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigation" %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
