<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Dragon Arrow" %></title>
    <% if content_for?(:html_description) %>
      <meta name="description" content="<%= yield(:html_description) %>">
    <% end %>
    <style>
    </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- bubbly-bgのcdn https://www.webcreatorbox.com/tech/javascript-particles 参照 -->
    <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google_analytics -->
    <%= analytics_init if Rails.env.production? %>

    <link rel="manifest" href="/manifest.json" />
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon180.png">

  </head>

  <body>
    <%= render "layouts/navigation" %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    <div class="container-fluid">
      <div class="row">
        <!-- サイドバーはデスクトップのみ -->
        <div class="col-sm-9">
          <%= yield %>
        </div>
        <div class="sidebar col-sm-3 hidden-xs">
          <%= render "layouts/sidebar" %>
        </div>
      </div>
    </div>
  </body>
</html>
